{% extends "core/base.html" %}
{% load static %}

{% block title %}Registracija / Prijava{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'styles/registration.css' %}">
{% endblock %}

{% block content %}
<div class="registration-page">
  <div class="container">
    <div class="overlay" id="overlay">
      <div class="sign-in" id="sign-in">
        <h1>Imaš račun?</h1>
        <p>Prijavi se kako bi pristupio svom računu</p>
        <button class="switch-button" id="slide-right-button">Prijavi se</button>
      </div>
      <div class="sign-up" id="sign-up">
        <h1>Pozdrav!</h1>
        <p>Izradi račun za početak</p>
        <button class="switch-button" id="slide-left-button">Registracija</button>
      </div>
    </div>

    <div class="form" id="form">
      <div class="sign-in" id="sign-in-info">
        <h1>Prijavi se</h1>
        <form id="sign-in-form">
          <input type="email" placeholder="Email" required />
          <input type="password" placeholder="Zaporka" required />
          <p class="forgot-password">Zaboravio si zaporku?</p>
          <button type="submit" class="control-button in">Prijava</button>
        </form>
      </div>

      <div class="sign-up" id="sign-up-info">
        <h1>Izradi račun</h1>
        <form id="sign-up-form">
          <input type="text" placeholder="Korisničko ime" required />
          <input type="email" placeholder="Email" required />
          <input type="password" placeholder="Zaporka" required />
          <button type="submit" class="control-button up">Registracija</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'scripts/registration.js' %}"></script>
{% endblock %}